Welcome to <span>♟️</span> Chess ️

Create or join a game.

<%= form_for @conn, Routes.page_path(@conn, :new), [as: :data], fn f -> %>
  <%= text_input f, :username, placeholder: "Name" %>
  <%= text_input f, :join_code, placeholder: "Join code, leave empty to create a new game." %>
  <%= submit "Join" %>
<% end %>