Welcome to <span>♟️</span> Chess ️

Create or join a game.

<%= form_for @conn, Routes.page_path(@conn, :new), [as: :data], fn f -> %>
  <%= text_input f, :username %>
  <%= text_input f, :join_code %>
  <%= submit "Start" %>
<% end %>

<div>
  <button>Create a new game</button>
</div>