<section>
  <div class="board">
    <%= for x <- [0, 1, 2, 3, 4, 5, 6, 7] do %>
      <%= for y <- [0, 1, 2, 3, 4, 5, 6, 7] do %>
      
    <div class={"square #{get_cell_color(x, y)} #{is_cell_selected({x, y}, @game.initial_position)}"} phx-click="select_cell" phx-value-x={x} phx-value-y={y} >
      <div class={"#{get_cell_piece(@game.board.cells[{x, y}])}"}></div>
    </div>
      <% end %>
    <% end %>
  </div>
</section>