<div class="generic">
  <div class="info">
  <%= @state %>
    <p class="header">Sorry! You can't play </p>
    <p class="description"> There can be only 2 players in the same game. You'll need to start a different one creating a new URL.</p>
  </div>
</div>