<div class="generic">
  <div class="info">
    <p class="header">Sorry! Full capacity. </p>
    <p class="description">There can only be 2 players in the same game. To play start a new game by creating a URL.</p>
  </div>
</div>
